h1{
    text-align: center;
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
    
}
#madlibs-inputs{
    justify-content: center;
}

#container{
    display: flex;
    flex-direction: row;
}

form section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    border-style: solid;
    border-color: blue;

}
.hide{
    display: none;
}

#completed-story{
    display: flex;
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-color: blue;
    font-size: x-large;
}