h1{
    text-align: center;
}
.input-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 150px;
  
}
#madlibs-inputs{
    justify-content: center;
}

#container{
    text-align: left;
}

#border{
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-color: blue;
    justify-content: center;
}

form section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

}
#madlibs-submit{
    text-align: center;
    justify-content: center;
}
.hide{
    display: none;
}

#completed-story{
    display: flex;
    flex-direction: column;
    text-align: center;  
    font-size: large;
    justify-content: center;
}